@use "variables";

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100&family=Smooch+Sans:wght@100&display=swap');

:root {
    --fontsize: 60px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Fraunces', serif;
    font-family: 'Smooch Sans', sans-serif;
    background-color: variables.$background;
    min-height: 1200px;
    overflow: hidden;
}

@media (min-width:767px){
    #main {
        height: 100vh;
    }
}

#main .tip-calculator {
    min-width: 250px;
    height: auto;
    background-color: #fff;
    border-radius: 16px;
}

@media (min-width:767px) {
    #main .tip-calculator {
        width: 1280px;
        min-height: 500px;
    }
}

#main .tip-calculator .input-container {
    padding: 30px;
    height: 100%;
    border-radius: 16px;
    color: variables.$input-container;
}

#main .tip-calculator .input-container .input {
    font-family: 'Fraunces', serif;
    position: relative;
    margin-bottom: 35px;
}

#main .tip-calculator .input-container .input .button-calc{
    border: 0;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    background-color: variables.$primary-green;
    &:hover{
        background-color: variables.$secondary-green; 
    }
    &.active{
        background-color: variables.$secondary-green;
    }
}

#main .tip-calculator .input-container .input .svg {
    position: absolute;
    top: 50%;
    left: 30px;
}

#main .tip-calculator .input-container .input input {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    background-color: variables.$input-color;
    cursor: pointer;
}

#main .tip-calculator .input-container .input input[type="number"] {
    text-align: end;
}

#main .tip-calculator .input-container .input input.custom {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#main .tip-calculator .input-container .grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

@media (min-width:767px) {
    #main .tip-calculator .input-container .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr ;
    }
}


#main .tip-calculator .result-container {
    position: relative;
    background-color: variables.$primary-green;
    min-height: 400px;
    margin: 20px;
    padding: 30px;
    border-radius: 16px;

    .row.amount{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100px;
    }
}

#main .tip-calculator .result-container .result-title{
    font-family: 'Fraunces', serif;
    display: flex;
    flex-direction:column;
    color: #fff;
    h5{
        font-size: 16px;
    }

    p{
        color: hsl(186, 14%, 43%);
        font-size: 14px;
    }
}

@media(min-width:767px){
    #main .tip-calculator .result-container .result-title{
        h5{
            font-size: 22px;
        }
    
        p{
            font-size: 20px;
        }
    }
}

#main .tip-calculator .result-container .result-amount{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    font-family: 'Fraunces', serif;
    color: variables.$secondary-green;
    overflow-x: hidden;
}

@media(min-width:767px){
    #main .tip-calculator .result-container .result-amount{
        font-size: 40px;
    }
}

@media(min-width:1280px){
    #main .tip-calculator .result-container .result-amount{
        font-size: 60px;
    }
}

#main .tip-calculator .result-container .button-reset{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    width: 80%;
    padding: 10px;
    font-size: 32px;
    font-weight: bold;
    background-color: hsl(172, 71%, 29%);
    color: variables.$primary-green;
    border-radius: 4px;
    border: 0;
    &:hover{
        background-color: variables.$secondary-green; 
    }
}

@media(min-width:767px){
    #main .tip-calculator .result-container {
        height: 500px;
    }
}

/* Remove hover arrows from input type number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }